.container-fluid {
    width: 500px;
}

#intro {
    color: white;
    background-image: url(https://res.cloudinary.com/dcibk3fp2/image/upload/v1634891355/intro_bg_fhma5p.png);
    background-size: 135%;
    background-attachment: fixed;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    height: 105vh;
    text-shadow: 0px 0px 5px #111;
    padding-top: 260px;
}

#heading {
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
    font-size: 40px;
}

.photo_src1 {
    padding-top: 250px;
}

#section1 {
    margin-top: -32px;
    background-image: url(https://res.cloudinary.com/dcibk3fp2/image/upload/v1634891350/section1_bg_pncjoo.png);
    background-size: 135%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 105vh;
    padding-top: 140px;
}

.author {
    width: 300px;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
    background-color: white;
    color: #111;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px 1px #555;
}

#des1, #des2 {
    font-family: 'Noto Serif TC', sans-serif;
    text-align: justify;
    margin-top: 20px;
    background-color: white;
    color: #111;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px 1px #555;
}

#section2 {
    margin-top: -32px;
    background-image: url(https://res.cloudinary.com/dcibk3fp2/image/upload/v1634891350/section1_bg_pncjoo.png);
    filter: contrast(200%);
    background-size: 135%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 220px;
}

.popup1, .popup2, .popup3, .popup4 {
    width: 200px;
    box-shadow: 0px 0px 15px 1px #555;
    opacity: 0;
    filter: grayscale(100%);
    position: absolute;
}

.popup1 {
    top: 110px;
    left: 190px;
}

.popup2 {
    top: 90px;
    left: 380px;
}

.popup3 {
    bottom: 175px;
    right: 350px;
}

.popup4 {
    bottom: 225px;
    right: 160px;
}

#section2:hover .popup1 {
    opacity: 0.8;
    transition-duration: 1.5s;
}

#section2:hover .popup2 {
    opacity: 0.8;
    transition-duration: 3s;
}

#section2:hover .popup3 {
    opacity: 0.8;
    transition-duration: 4.5s;
}

#section2:hover .popup4 {
    opacity: 0.8;
    transition-duration: 6s;
}

#photo_src2 {
    color: white;
    margin-top: 250px;
    padding-top: 20px;
    text-shadow: 0px 0px 5px #111;
}

#section3 {
    height: 112vh;
}

#graph1, #graph2 {
    margin-top: 140px;
    margin-left: 10px;
    height: 30vh;
    align-items: center;
    opacity: 0;
    box-shadow: 0px 0px 15px 1px #555;
}

#des3 {
    text-align: justify;
    margin-top: 20px;
    background-color: white;
    color: #111;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px 1px #555;
}

#section3:hover #graph1 {
    opacity: 1;
    transition-duration: 1s;
}

#section3:hover #graph2 {
    opacity: 1;
    transition-duration: 2s;
}

#fullscreen-bg__video {
    width: 100vw;
    display: block;
    z-index: -1;
    position: absolute;
    margin-top: -84vh;
}

#section4 {
    margin-top: -78px;
    background-color: rgb(246, 246, 246);
    background-size: 120%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 173vh;
    padding-top: 70px;
}

#subhead1, #subhead2 {
    color: #111;
    font-size: 24px;
    text-align: left;
}

#quote1, #quote2 {
    text-align: justify;
    color: #999;
    padding: 15px 0px 0px 0px;
    font-size: 24px;
    font-weight: 300;
}

#des4, #des6 {
    text-align: justify;
    color: #111;
    padding: 15px 15px 0px 15px;
}

#ken, #joanne {
    padding: 20px 0px 5px 0px;
    margin-left: -15px;
    width: 500px;
}

#section5 {
    height: 75vh;
    background-image: url(https://res.cloudinary.com/dcibk3fp2/image/upload/v1635079030/york2_ebbaom.jpg);
    filter: grayscale(40%);
    background-size: 135%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

#section6 {
    padding-top: 145px;
    background-color: rgb(246, 246, 246);
    background-size: 120%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 144vh;
    padding-top: 70px;
}

#section7 {
    height: 75vh;
    background-image: url(https://res.cloudinary.com/dcibk3fp2/image/upload/v1635084165/can_kmxbim.jpg);
    filter: grayscale(70%);
    background-size: 135%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 70px;
}

#des7 { 
    text-align: justify;
    color: white;
    text-shadow: 0px 2px 5px #111;
    font-weight: 300;
    font-family: 'Noto Serif TC', sans-serif;
    font-size: 20px;
    opacity: 0;
}

#section7:hover #des7 {
    opacity: 0.9;
    transition-duration: 2s;
    transition-delay: 0.5s;
}
