* {
    position: relative;
    margin: 0;
}

#intro {
    height:100vh;
    background-image: url(https://images.squarespace-cdn.com/content/v1/5ed7683194c04e5dba3d0847/1614308083542-D51VCWLNL1Y1FYBCA3KT/DSCF7997+new.jpg);
    background-size: cover;
    background-position: 50% 45%;
    background-repeat: no-repeat;
    filter: grayscale(50%);
}
#heading {
    padding-top: 35vh;
    text-shadow: 0vh 0vh 1vh black; 
    color: white; 
    font-family: Noto Serif TC;
    font-size: 6vh;
    font-weight: 600;
}

#section1a {
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    background-color: #111;
}

#svgobj {
    transition: all 0.5s;
}

#Layer_1, #Layer_2, #Layer_3, #Layer_4, #Layer_5, #Layer_6, #Layer_7, #Layer_8, #Layer_9, #Layer_10, #Layer_11, #Layer_12 {
    transition: all 0.5s;
    opacity: 0;
} 

#section1b {
    z-index: 10;
}

.maploc {
    height: 100vh;
}

#floating-text {
    font-size: 2.5vh;
    letter-spacing: 0.2vh;
    line-height: 4vh;
    width: 30vw;
    color: white;
    border-left: 0.5vh solid white;
    padding: 0vh 0vh 0vh 2vh;
}

a {
    color: white;
}

a:hover {
    color: #999;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
