* {
    font-family: 'Noto Sans TC', sans-serif, 'Noto Serif TC', serif;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.container-fluid {
    width: 500px
}

img {
    width: 500px;
    box-shadow: 0px 0px 15px 1px #555;
}

#intro {
    color: white;
    background-image: url(intro_bg.png);
    background-size: 135%;
    background-attachment: fixed;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    height: 105vh;
    text-shadow: 0px 0px 5px #111;
    padding-top: 230px;
}

#heading {
    font-family: 'Noto Serif TC', serif;
    font-weight: 600;
    font-size: 40px;
}

.photo_src1 {
    padding-top: 250px;
}

#section1 {
    margin-top: -32px;
    color: white;
    background-image: url(section1_bg.png);
    background-size: 135%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 105vh;
    padding-top: 140px;
}

.author {
    width: 300px;
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    background-color: white;
    color: #111;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px 1px #555;
}

#des1 {
    font-family: 'Noto Serif TC', sans-serif;
    width: 500px;
    text-align: justify;
    margin-top: 20px;
    background-color: white;
    color: #111;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px 1px #555;
}

#section2 {
    margin-top: -32px;
    color: white;
    background-image: url(section1_bg.png);
    filter: contrast(200%);
    background-size: 135%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 105vh;
    padding-top: 250px;
}

#des2 {
    font-family: 'Noto Serif TC', sans-serif;
    width: 500px;
    text-align: justify;
    background-color: white;
    color: #111;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px 1px #555;
}

.popup1 {
    position: absolute;
    top: 110px;
    left: 190px;
    opacity: 0;
    width: 200px;
    filter: grayscale(100%)
}

.popup2 {
    position: absolute;
    top: 90px;
    left: 380px;
    opacity: 0;
    width: 200px;
    filter: grayscale(100%)
}

.popup3 {
    position: absolute;
    bottom: 190px;
    right: 350px;
    opacity: 0;
    width: 200px;
    filter: grayscale(100%)
}

.popup4 {
    position: absolute;
    bottom: 240px;
    right: 160px;
    opacity: 0;
    width: 200px;
    filter: grayscale(100%);
}

#section2:hover .popup1 {
    opacity: 0.8;
    transition-duration: 1.5s;
}

#section2:hover .popup2 {
    opacity: 0.8;
    transition-duration: 3s;
}

#section2:hover .popup3 {
    opacity: 0.8;
    transition-duration: 4.5s;
}

#section2:hover .popup4 {
    opacity: 0.8;
    transition-duration: 6s;
}

.photo_src2 {
    margin-top: 250px;
    padding-top: 20px;
    text-shadow: 0px 0px 5px #111;
}

#section3 {
    color: white;
    height: 111vh;
}

.graph1, .graph2 {
    margin-top: 140px;
    margin-left: 10px;
    height: 30vh;
    width: inherit;
    align-items: center;
    opacity: 0;
}

.graph1 {
    margin-left: 30px;
}

#des3 {
    width: 500px;
    text-align: justify;
    margin-top: 20px;
    background-color: white;
    color: #111;
    padding: 15px 15px 15px 15px;
    box-shadow: 0px 0px 15px 1px #555;
}

#section3:hover .graph1 {
    opacity: 1;
    transition-duration: 1s;
}

#section3:hover .graph2 {
    opacity: 1;
    transition-duration: 2s;
}

.fullscreen-bg__video {
    width: 100vw;
    display: block;
    z-index: -1;
    position: absolute;
    margin-top: -84vh;
}

#section4 {
    margin-top: -70px;
    color: white;
    background-color: grey;
    background-size: 120%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    padding-top: 100px;
}

#des4 {
    width: 500px;
    text-align: justify;
    margin-top: 20px;
    color: #111;
    padding: 15px 15px 15px 15px;
}

.photo_src4 {
    margin-top: 20px;
    padding-top: 20px;
    color: #111;
}

#section5 {
    margin-top: -64px;
    color: white;
    background-color: rgb(246, 246, 246);
    background-size: 120%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
    padding-top: 100px;
}

#des5 {
    width: 500px;
    text-align: justify;
    margin-top: 20px;
    color: #111;
    padding: 15px 15px 15px 15px;
}

.photo_src5 {
    margin-top: 20px;
    padding-top: 20px;
    color: #111;
}

#section6 {
    margin-top: -64px;
    color: white;
    background-color: grey;
    background-size: 120%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 100px;
}

#des6 {
    width: 500px;
    text-align: justify;
    margin-top: 20px;
    color: #111;
    padding: 15px 15px 15px 15px;
}

.photo_src6 {
    margin-top: 20px;
    padding-top: 20px;
    color: #111;
}

#section7 {
    color: white;
    background-color: rgb(246, 246, 246);
    background-size: 120%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 105vh;
    padding-top: 100px;
    padding-bottom: -100px;
}

#des7 {
    width: 500px;
    text-align: justify;
    margin-top: 20px;
    color: #111;
    padding: 15px 15px 15px 15px;
}

.photo_src7 {
    margin-top: 20px;
    padding-top: 20px;
    color: #111;
    padding-bottom: 90px;
}
